{%extends "base.html"%}
{%block body%}
<div class="container">
    
    <h1 onclick="history.back()"><< Chapters </h1> 
     {% for s in chapter%}
    <div class="d-flex flex-column border border-dark border-top-0 border-right-2 border-left-0 my-4">
       <a href="c/{{s.id}}" style="text-decoration: none; color: rgb(0, 0, 0);"> <div class="p-2 " style="background-color:#55a5c781;"><span>{{ forloop.counter }}</span>.    <span><b>{{s.name}}</b></span></div></a>
      </div>

   

  

    {%endfor%}




{%endblock%}